# BEGIN 
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /microfluidprocess/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /microfluidprocess/index.php [L]
</IfModule>

# END   

#remove php extension from end
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

#RewriteEngine on 
#RewriteRule ^product/([a-zA-Z0-9]+)/?$ products.php?productid=$1 [L,QSA]